<%# add navigation links to this file %>
<!-- <li role="presentation">
  <%= link_to 'Ads', ads_path %>
</li> -->
<li role="presentation">
  <%= link_to 'Schedules', schedules_path %>
</li>
<li role="presentation">
  <%= link_to 'Monitoring', sidekiq_web_path, :target => "_blank" %>
</li>
